# Arquivos Python
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs/

# Ambientes virtuais
venv/
ENV/

# Ferramentas de integração contínua
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.hypothesis/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Configurações do ambiente
.env
.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# Databases
*.db
*.sqlite3

# Logs
logs/
*.log

# Arquivos temporários
*.bak
*.swp
*~
*#
.DS_Store
