name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  version_bump_and_release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install and Upgrade pip and Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry toml pyinstaller

      - name: Bump Version and Push Tag
        run: python version_bump.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build EXE
        run: |
          poetry run pyinstaller ./dev_assistant_client/dev_assistant_client.py --name dev-assistant --onefile --noconfirm --clean --icon=./icon.ico

      - name: Create and Upload Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.version_bump_and_release.outputs.tag }}
          release_name: Release ${{ steps.version_bump_and_release.outputs.tag }}

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/dev-assistant.exe
          asset_name: dev-assistant.exe
          asset_content_type: application/octet-stream
